application.properties
.metadata
bin/
tmp/
.vscode/
*.tmp
*.bak
*.env
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.mvn
.externalToolBuilders/
*.launch
*.pydevproject
.cproject
.autotools
.factorypath
.buildpath
.target
.tern-project
.texlipse
.springBeans
.project
.recommenders/
.apt_generated/
.apt_generated_test/
documents
.hazelCastCache-main
.scala_dependencies
.worksheet
/target/
/.apt_generated_tests/
### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
######################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
logs
*.log
var
TEST*.xml